<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


    <!-- Основные -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="sidebars.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet">


    <!-- Шрифт -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">


</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-light" style="background: #fcebe3 !important;">
        <div class="container-fluid">
            <a class="navbar-brand" data-bs-toggle="offcanvas" href="#offcanvasExample"
               aria-controls="offcanvasExample">
                <img src="../static/icon/icon-navbar.svg">
                KUХНЯ
            </a>
        </div>
    </nav>

    {% include 'menu.html' %}
    <main id="main">
        <div class="container" style="background: #fff;">
            <div class="section-title" data-aos="fade-up">
                <h2>Добавление рецепта</h2>
                <p>Здесь вы можете добавить свой рецепт на сайт.</p>
            </div>
            <div class="album px-md-5 py-5">
                <form method="POST" enctype="multipart/form-data">
                    {% with messeges = get_flashed_messages() %}
                        {% if messeges %}
                            {% for mes in messeges %}
                                <div class="alert alert-danger" role="alert">
                                    {{ mes }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="form-group row mb-3">
                        <label class="col- col-sm-2 col-form-label">Название:</label>
                        <div class="col-sm-8">
                            <input type="text" name="name" class="form-control" id="floatingInput"
                                   placeholder="Введите название">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-2 col-form-label">Фотография:</label>
                        <div class="col-sm-8">
                            <input type="file" name="photo" class="form-control" id="floatingInput"
                                   placeholder="Добавте фотографию блюда">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-2 col-form-label">Краткое описание:</label>
                        <div class="col-sm-8">
                                <textarea type="text" name="title" class="form-control" id="floatingInput"
                                          placeholder="Напишите ингредиенты"></textarea>
                        </div>
                        <br>
                        <label class="col-sm-2 col-form-label">Рецепт:</label>
                    </div>
                    <div class="form-group row mb-3" id="new_tags">

                    </div>
                    <div class="form-group row mb-3">
                        <div class="btn-group col-auto" role="group" aria-label="Basic outlined example">
                            <button type="button" class="btn btn-success" onclick="add_row()">Добавить шаг</button>
                            <button type="button" class="btn btn-danger" onclick="del_row()">Удалить</button>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-2 col-form-label">Калории:</label>
                        <div class="col-sm-8">
                            <input type="number" value="0" min="0" name="calories" class="form-control"
                                   id="floatingInput"
                                   placeholder="Введите кол-во калорий">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-2 col-form-label">Белки:</label>
                        <div class="col-sm-8">
                            <input type="number" value="0" min="0" name="fats" class="form-control" id="floatingInput"
                                   placeholder="Введите кол-во жиров">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-2 col-form-label">Жиры:</label>
                        <div class="col-sm-8">
                            <input type="number" value="0" min="0" name="proteins" class="form-control"
                                   id="floatingInput"
                                   placeholder="Введите кол-во белков">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-sm-2 col-form-label">Углеводы:</label>
                        <div class="col-sm-8">
                            <input type="number" value="0" min="0" name="carbohydrates" class="form-control"
                                   id="floatingInput"
                                   placeholder="Введите кол-во углеводов">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-outline-success">Добавить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer" style="background: #fef8f5;">
        <div class="container py-4">
            <div class="copyright">
                &copy; Егоркин and Одиноков and Самонин <strong><span>Company</span></strong>
            </div>
        </div>
    </footer>
</div>

<!-- Vendor JS Files -->
<script src="static/js/script.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
</body>

</html>